@import "../../style/variables.scss";

.app {
    &__banner {
        width: 100%;
        background-color: $dark;
        height: 100px;
        padding: 0 25px 0 45px;
        display: grid;
        grid-template-columns: 152px auto 133px;
        @media (max-width: $mobile) {
            grid-template-columns: 152px auto;
            gap: 20px;
        }
        @media (max-width: $mobileSmall) {
            padding: 0;
        }
        &-text {
            align-self: center;
            font-weight: bold;
            font-size: 24px;
            justify-self: center;
            line-height: 32px;
            color: #ffffff;
            @media (min-width: $mobile) {
                padding-left: 83px;
                padding-top: 18px;
            }
        }
        &-img-avangers {
            @media (max-width: $mobile) {
                display: none;
            }
        }
    }
}
